                    /* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

                    /* FONTS */
body, footer {
  font-family: 'Lexend Deca', sans-serif; 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, p {
  font-family: 'Lexend Deca', sans-serif; 
}

                    /* NAVBAR */
.navbar {
  background-color: rgb(217, 217, 217, 0.3); 
  color: #CEFFD9; 
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 10px 20px; 
  position: fixed; 
  width: 100%; 
  top: 0; 
  z-index: 1000; 
}

.navbar.menu-open {
  background-color: rgba(99, 82, 64, 0.85); 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7); 
  transition: all 0.17s ease; 
}

.hamburguer {
  background-color: transparent; 
  border: none; 
  color: #7A7474; 
  font-size: 50px; 
  cursor: pointer; 
  transition: transform 0.3s ease;
}

.hamburguer:hover {
  transform: scale(1.2); 
}

.navbar.menu-open .hamburguer {
  background-color: transparent; 
  border: none; 
  color: #CEFFD9; 
  font-size: 60px; 
  cursor: pointer; 
  transition: transform 0.3s ease; 
}

.navbar-menu {
  display: none; 
  position: absolute;
  top: 100%; 
  left: 0;
  background-color: rgb(99, 82, 64, 0.65); 
  color: #FFE6CB; 
  width: 100%; 
  height: 100vh;
  padding: 10px 0px;
}

.navbar-menu.active {
  display: block; 
}

.navbar-menu ul {
  list-style: none; 
  padding: 0;
  margin: 0;
}

.navbar-menu li {
  padding: 10px 20px; 
  border-bottom: 1px solid rgb(21, 18, 15, 0.65);
}

.navbar-menu a {
  text-decoration: none; 
  color: #FFE6CB; 
  font-size: 2.5rem; 
  display: block;
  padding: 15px 25px;
}

.navbar-menu li:hover {
  background-color: rgba(99, 82, 64, 0.95); 
  box-shadow: 0 -10px 15px rgba(0, 0, 0, 0.5), 0 10px 15px rgba(0, 0, 0, 0.5);
  padding: 15px 0px;
}

.navbar-menu li:hover a {
  color: #CEFFD9; 
  font-weight: bold; 
  font-size: 3rem; 
}

                    /* INDEX */

body {
  height: 100vh;
  background: url('../img/png/pngWeb/meGlasses.jpg') no-repeat center center;
  background-size: cover;
}

/* Line */
.line {
  width: 90%; /* La línea ocupa el 60% del ancho total */
  height: 5px; /* Grosor de la línea */
  background-color: rgb(141, 141, 141, 0.69); /* Color de la línea */
  position: absolute; /* Posiciona la línea dentro del contenedor */
  top: 0; /* Coloca la línea en la parte superior del contenedor */
  left: 5%; /* Deja un 20% libre a ambos lados */
}

.line::before,
.line::after {
  content: ''; /* Crea los elementos pseudo */
  width: 5px; /* Grosor de las pestañitas */
  height: 15px; /* Altura de las pestañitas */
  background-color: rgb(141, 141, 141, 0.69); /* Color de las pestañitas */
  position: absolute;
}

.line::before {
  left: 0; /* Posiciona la pestañita al inicio de la línea */
  top: 5px; /* Coloca la pestañita justo debajo de la línea */
}

.line::after {
  right: 0; /* Posiciona la pestañita al final de la línea */
  top: 5px; /* Coloca la pestañita justo debajo de la línea */
}

.overlay {
  position: relative; /* Necesario para posicionar la línea roja dentro del contenedor */
  margin-top: 150px; /* Ajusta el margen para que no se solape con el navbar */
}

.overlay h1 {
  color: #CEFFD9;
  font-size: 85px;
  margin: 130px 100px 50px;
}

.interactiveButtons div {
  transition: all 0.3s ease; 
}

.interactiveButtons button {
  background-color: transparent;
  border: 2px solid #CEFFD9;
  color: #CEFFD9;
  box-shadow: 0 4px 6px rgba(206, 255, 217, 0.5);
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.interactiveButtons p {
  color: #CEFFD9;
  font-size: 1.2rem;
  margin-bottom: 10px;
  transition: all 0.3s ease;
}

/* hover efect to seccion */

.interactiveMe:hover p {
  font-size: 2rem;
  font-weight: bold;
}

.interactiveMe:hover button {
  background-color: rgba(206, 255, 217, 0.1);
  box-shadow: 0 6px 10px rgba(206, 255, 217, 1);
  border: 5px solid #CEFFD9;
}

.interactiveProjects:hover p {
  font-size: 2rem;
  font-weight: bold;
}

.interactiveProjects:hover button {
  background-color: rgba(206, 255, 217, 0.1);
  box-shadow: 0 6px 10px rgba(206, 255, 217, 1);
  border: 5px solid #CEFFD9;
}

.interactiveStudies:hover p {
  font-size: 2rem;
  font-weight: bold;
}

.interactiveStudies:hover button {
  background-color: rgba(206, 255, 217, 0.1);
  box-shadow: 0 6px 10px rgba(206, 255, 217, 1);
  border: 5px solid #CEFFD9;
}

/* Tamaños específicos para los botones */
.interactiveMe button {
  width: 200px;
  height: 200px;
}

.interactiveProjects button {
  width: 150px;
  height: 100px;
}

.interactiveStudies button {
  width: 100px;
  height: 120px;
}

                    /* FOOTER */
/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Centra el texto y la línea */
  justify-content: center;
  padding: 20px 40px; /* Espaciado interno */
  color: #FFE6CB; /* Color del texto */
  font-size: 1.5rem; /* Tamaño de la fuente */
  position: relative; /* Necesario para posicionar la línea dentro del footer */
}

footer p {
  position: absolute; 
  bottom: 40px; 
  left: 200px; 
  margin: 0; 
  text-align: left; 
  font-size: 1.7rem; 
  color: #FFE6CB; 
}

/* Línea del footer */
.lineFooter {
  width: 90%; /* La línea ocupa el 60% del ancho total */
  height: 5px; /* Grosor de la línea */
  background-color: rgb(141, 141, 141, 0.69); /* Color de la línea */
  position: absolute; /* Posiciona la línea dentro del contenedor */
  top: 0; /* Coloca la línea en la parte superior del contenedor */
  left: 5%; /* Centra la línea horizontalmente */
}

/* Pestañitas de la línea */
.lineFooter::before,
.lineFooter::after {
  content: ''; /* Crea los elementos pseudo */
  width: 5px; /* Grosor de las pestañitas */
  height: 15px; /* Altura de las pestañitas */
  background-color: rgb(141, 141, 141, 0.69); /* Color de las pestañitas */
  position: absolute;
}

.lineFooter::before {
  left: 0; /* Posiciona la pestañita al inicio de la línea */
  top: -15px; /* Coloca la pestañita justo encima de la línea */
}

.lineFooter::after {
  right: 0; /* Posiciona la pestañita al final de la línea */
  top: -15px; /* Coloca la pestañita justo encima de la línea */
}