                    /* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

                    /* FONTS */
* {
  font-family: 'Lexend Deca', sans-serif;
}


                    /* NAVBAR */
.navbar {
  background-color: rgb(217, 217, 217, 0.3); 
  color: #CEFFD9; 
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 10px 20px; 
  position: fixed; 
  width: 100%; 
  top: 0; 
  z-index: 1000; 
}

.navbar.menu-open {
  background-color: rgba(99, 82, 64, 0.85); 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7); 
  transition: all 0.17s ease; 
}

.hamburguer {
  background-color: transparent; 
  border: none; 
  color: #7A7474; 
  font-size: 50px; 
  cursor: pointer; 
  transition: transform 0.3s ease;
}

.hamburguer:hover {
  transform: scale(1.2); 
}

.navbar.menu-open .hamburguer {
  background-color: transparent; 
  border: none; 
  color: #CEFFD9; 
  font-size: 60px; 
  cursor: pointer; 
  transition: transform 0.3s ease; 
}

.navbar-menu {
  display: none; 
  position: absolute;
  top: 100%; 
  left: 0;
  background-color: rgb(99, 82, 64, 0.65); 
  color: #FFE6CB; 
  width: 100%; 
  height: 100vh;
  padding: 10px 0px;
}

.navbar-menu.active {
  display: block; 
}

.navbar-menu ul {
  list-style: none; 
  padding: 0;
  margin: 0;
}

.navbar-menu li {
  padding: 10px 20px; 
  border-bottom: 1px solid rgb(21, 18, 15, 0.65);
}

.navbar-menu a {
  text-decoration: none; 
  color: #FFE6CB; 
  font-size: 2.5rem; 
  display: block;
  padding: 15px 25px;
}

.navbar-menu li:hover {
  background-color: rgba(99, 82, 64, 0.95); 
  box-shadow: 0 -10px 15px rgba(0, 0, 0, 0.5), 0 10px 15px rgba(0, 0, 0, 0.5);
  padding: 15px 0px;
}

.navbar-menu li:hover a {
  color: #CEFFD9; 
  font-weight: bold; 
  font-size: 3rem; 
}

                    /* INDEX */

body {
  height: 100vh;
  background: url('../img/png/pngWeb/meGlasses.jpg') no-repeat center center;
  background-size: cover;
}

/* Line */
.line {
  width: 90%; /* La línea ocupa el 60% del ancho total */
  height: 5px; /* Grosor de la línea */
  background-color: rgb(141, 141, 141, 0.69); /* Color de la línea */
  position: absolute; /* Posiciona la línea dentro del contenedor */
  top: 0; /* Coloca la línea en la parte superior del contenedor */
  left: 5%; /* Deja un 20% libre a ambos lados */
}

.line::before,
.line::after {
  content: ''; /* Crea los elementos pseudo */
  width: 5px; /* Grosor de las pestañitas */
  height: 15px; /* Altura de las pestañitas */
  background-color: rgb(141, 141, 141, 0.69); /* Color de las pestañitas */
  position: absolute;
}

.line::before {
  left: 0; /* Posiciona la pestañita al inicio de la línea */
  top: 5px; /* Coloca la pestañita justo debajo de la línea */
}

.line::after {
  right: 0; /* Posiciona la pestañita al final de la línea */
  top: 5px; /* Coloca la pestañita justo debajo de la línea */
}

.overlay {
  position: relative; /* Necesario para posicionar la línea roja dentro del contenedor */
  margin-top: 150px; /* Ajusta el margen para que no se solape con el navbar */
}

.overlay h1 {
  color: #CEFFD9;
  font-size: 85px;
  margin: 130px 150px 50px;
}

.interactiveButtons div {
  transition: all 0.3s ease; 
}

.interactiveButtons button {
  background-color: transparent;
  border: 2px solid #CEFFD9;
  color: #CEFFD9;
  box-shadow: 0 4px 6px rgba(206, 255, 217, 0.5);
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.interactiveButtons p {
  color: #CEFFD9;
  font-size: 1.2rem;
  margin-bottom: 10px;
  transition: all 0.3s ease;
}

/* hover efect to seccion */

.interactiveMe:hover p {
  font-size: 2rem;
  font-weight: bold;
}

.interactiveMe:hover button {
  background-color: rgba(206, 255, 217, 0.1);
  box-shadow: 0 6px 10px rgba(206, 255, 217, 1);
  border: 5px solid #CEFFD9;
}

.interactiveProjects:hover p {
  font-size: 2rem;
  font-weight: bold;
}

.interactiveProjects:hover button {
  background-color: rgba(206, 255, 217, 0.1);
  box-shadow: 0 6px 10px rgba(206, 255, 217, 1);
  border: 5px solid #CEFFD9;
}

.interactiveStudies:hover p {
  font-size: 2rem;
  font-weight: bold;
}

.interactiveStudies:hover button {
  background-color: rgba(206, 255, 217, 0.1);
  box-shadow: 0 6px 10px rgba(206, 255, 217, 1);
  border: 5px solid #CEFFD9;
}

/* Tamaños específicos para los botones */
.interactiveMe button {
  width: 200px;
  height: 200px;
}

.interactiveProjects button {
  width: 150px;
  height: 100px;
}

.interactiveStudies button {
  width: 100px;
  height: 120px;
}

                    /* FOOTER */
footer{
  color: #FFE6CB; 
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 20px 40px; 
  position: fixed; 
  width: 100%;  
  z-index: 1000; 
  font-size: 2rem;
  flex-direction: column; 
}

footer p {
  align-self: flex-start; 
  margin-left: 150px;      
  margin-bottom: 15px;    
  text-align: left;       
}

/* Línea del footer */
.lineFooter {
  width: 90%;
  height: 5px;
  background-color: rgb(141, 141, 141, 0.69);
  position: absolute;  
  top: 80px;           
  left: 5%;
}

.lineFooter::before,
.lineFooter::after {
  content: '';
  width: 5px;
  height: 15px;
  background-color: rgb(141, 141, 141, 0.69);
  position: absolute;
}

.lineFooter::before {
  left: 0;
  top: -15px;
}

.lineFooter::after {
  right: 0;
  top: -15px;
}

                    /* CONTACT */
.frameContact {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form {
  background-color: rgb(217, 217, 217, 0.10);
  padding:100px;
  box-shadow: 0 8px 8px rgba(0,0,0,0.2);
  width: 100%;
  max-width: 900px;
}

.contact-form h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #CEFFD9;
  font-size: 35px;
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
  color: #ede8e8;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #CEFFD9;
  background-color: rgba(122, 116, 116, 0.3);
  font-size: 20px;
  color: #CEFFD9; 
  resize: none; 
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border: 2px solid #CEFFD9;
  background-color: rgba(122, 116, 116, 0.8);
  box-shadow: 0 0 8px rgba(206, 255, 217, 0.7);
  color: #CEFFD9; /* mantiene el color al escribir */
}


.contact-form button {
  width: 30%;
  padding: 12px;
  border: none;
  background-color: #7A7474;
  color: #CEFFD9;
  font-size: 22px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
  margin: 0 auto;
  box-shadow: 0 6px 6px rgba(206, 255, 217, 0.5);
}

.contact-form button:hover {
  background-color: #CEFFD9;
  color:#7A7474
}