<div class="infoSection-pop" id="aboutMe">
    <h1>
        I´m Carmen Varela Iglesias
    </h1>
    <img src="./src/assets/img/png/pngWeb/meEyes.jpg" alt="Carmen Varela Iglesias photo"></img>
    <div class="textAboutMe">
        <p>
            <b>No diré que soy la mejor, pero sí que doy lo mejor de mí.</b>
        </p>
        <p>
            Desde que era pequeña, siempre se me ha dado bien todo el mundo creativo y artístico.
            Me encantaba dibujar, bailar, maquillar, etc. tanto que terminé estudiando Caracterización y Maquillaje
            Profesional.
        </p>
        <p>
            ¿No era predecible, verdad? Estuve durante muchos años trabajando en éste sector, pero siempre ví en casa a
            mis padres trabajando en esto y los miraba con admiración pero en silencio.
        </p>

        <p>
            Al hacerme mayor y ver como funcionaba a través de ellos este mundo laboral, decidí estudiarlo aunque siendo
            sincera no sabía qué iba a encontrarme ante la sorpresa que <b>descubrí el mayor
                lienzo en blanco que jamás he podido imaginar.</b>
        </p>
        <p>
            La programación web me ha abierto un universo nuevo, lleno de posibilidades y retos que estoy deseando
            desafiar.
        </p>
    </div>
    <div class="motto">
        <h3>
            My motto
        </h3>
        <p><em>Girls are also into science.</em></p>
    </div>
    <div class="cualities">
        <div class="strengths">
            <h2>Mis puntos fuertes</h2>
            <ul>
                <li>Creatividad</li>
                <li>Resolución de problemas</li>
                <li>Trabajo en equipo</li>
                <li>Comunicación</li>
                <li>Adaptabilidad</li>
                <li>Gestión del tiempo</li>
                <li>Atención al detalle</li>
                <li>Curiosidad y aprendizaje continuo</li>
            </ul>
        </div>
        <div class="improvements">
            <h2>Mis puntos a mejorar</h2>
            <ul>
                <li>Ser perfeccionista</li>
                <li>Paciencia con lo repetitivo</li>
                <li>Pedir ayuda cuando es necesario</li>
                <li>Equilibrar técnica y creatividad</li>
                <li>Delegar tareas</li>
                <li>Gestión del estrés</li>
            </ul>
        </div>
    </div>
</div>