<div class="infoSection-pop" id="aboutMe">
    <h1>
        I´m Carmen Varela Iglesias
    </h1>
    <div class="photoAboutMe">
        <img src="../assets/img/png/pngWeb/whoIam.jpg" alt="Carmen Varela Iglesias photo"></img>
    </div>
    <div class="textAboutMe">
        <p>
            <b>No busco ser la mejor, sino dar siempre lo mejor de mí.</b>
        </p>
        <div>
            <p>
                Soy desarrolladora front-end en formación considero que cuento con una base sólida en HTML5, CSS3 y
                JavaScript, además de
                experiencia en control de versiones con Git y GitHub.</p>
            <p>
                Durante mis FCT autogestionadas, colaboré en AndaluGeeks ONG, participando en el desarrollo de una
                aplicación web destinada a la recopilación y consulta de términos en una plataforma tipo diccionario
                digital. Este proyecto me permitió trabajar en un entorno ágil con Trello, coordinarme en equipo y
                aplicar
                mis conocimientos en frontend mientras adquiría nociones de gestión de bases de datos.</p>
            <p>
                Esa experiencia me enseñó a enfrentar proyectos reales con impacto, a valorar la importancia de la
                organización y la colaboración, y a consolidar mis competencias técnicas en el desarrollo web.</p>

            <p>
                Me motiva crear interfaces funcionales, intuitivas y eficientes, seguir ampliando mi stack tecnológico y
                aportar valor en entornos profesionales donde pueda crecer como desarrolladora front-end.
            </p>
        </div>
    </div>
    <div class="motto">
        <h3>
            Cita inspiradora
        </h3>
        <p>“A ship in port is safe, but that’s not what ships are built for.” <em>— Grace Hopper</em></p>
    </div>
    <div class="cualities">
        <div class="skills">
            <h2>Soft skills</h2>
            <ul>
                <li>Creatividad</li>
                <li>Participativa</li>
                <li>Resolución de problemas</li>
                <li>Trabajo en equipo</li>
                <li>Comunicación</li>
                <li>Adaptabilidad</li>
                <li>Gestión del tiempo</li>
                <li>Atención al detalle</li>
                <li>Curiosidad y aprendizaje continuo</li>
            </ul>
        </div>
        <div class="improvements">
            <h2>Áreas en las que sigo trabajando</h2>
            <ul>
                <li>Paciencia con lo repetitivo</li>
                <li>Equilibrar técnica y creatividad</li>
                <li>Delegar tareas</li>
                <li>Manejo del estrés en plazos ajustados</li>
            </ul>
        </div>
        <div>
            <button src="src\CV.html">CV aquí</button>
        </div>
    </div>
</div>