<header>
  <nav class="navbar">
    <button class="hamburguer" aria-label="Abrir menú" onclick="toggleMenu()">
      ☰
    </button>
    <div class="navbar-menu">
      <ul>
        <li><a href="#index">Home Page</a></li>
        <li><a href="#aboutMe">About Me</a></li>
        <li><a href="#cv">Portfolio</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#videoBlog">Introduction Video</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>
  </nav>
</header>