<header>
  <nav class="navbar">
    <button class="hamburguer" aria-label="Abrir menú" onclick="toggleMenu()">
      ☰
    </button>
    <div class="navbar-menu">
      <ul>
        <li><a href="./index.html">Home Page</a></li>
        <li><a href="../components/aboutMe.html">About Me</a></li>
        <li><a href="./CV.html">Curriculum Vitae</a></li>
        <li><a href="./portfolio.html">Portfolio</a></li>
        <li><a href="./contact.html">Contact</a></li>
      </ul>
    </div>
  </nav>
</header>